html {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

header,
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.profile_pic {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}


/*============= coins form========*/
.buy_coins_form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    
}

label[for="coin_amount"] {
    display: block;
    margin-bottom: 20px;
}

#coin_amount{
    margin-bottom: 20px;
}

button[type="submit"] {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color:#9a4ef1;
    cursor: pointer;
}

button[type="submit"]:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
    button[type="submit"] {
        display: block;
        margin: 0.2em auto;
    }
}