html{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

header, main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile_pic{
    border-radius: 50%;
    height: 500px;
    width: 500px;
}


/*============= coins form========*/
.buy_coins_form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

label[for="coin_amount"]{
    display: block;
    margin-bottom: 20px;
}

button[type="submit"]{
    margin-top: 10px;
    border-radius: 4px;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
}